 

.home-page {
  position: relative; /* Ensure proper positioning of video and quotes */
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 560px;
  object-fit: cover; 
  z-index: -1; 
}

.quote-container {
  position: relative; /* Ensure quotes are positioned properly */
  z-index: 1; 
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quote {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}


/* Home.css */

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  position: relative; 
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the entire container */
}

.quote-container {
  text-align: center; /* Center text */
  color: black; /* White text color */
}

.quote {
  font-size: 24px;
  font-style: italic;
  margin-top: 20px; /* Add space between header and quote */
}
